@import "mixins-master";

@mixin html-styles {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@mixin body-styles {
  // background-color: $body-bgcolor;
  padding: 0;
  margin: 0;
}

@mixin base-typography--body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: $lineheight-copy;
}

@mixin base-typography--page {
  @include base-typography--body;
}

@mixin base-typography--p {
  font-size: 1rem;
  line-height: $lineheight-copy;
  // background-color: rgba(black, .5);
  // color: rgba(white, .85);
  margin: 0 0 $padding-default 0;
}

@mixin headings {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 $padding-default 0;
}

@mixin heading-h1 {
  @include headings;
  font-size: 2.25rem;
}

@mixin heading-h2 {
  @include headings;
  font-size: 1.625rem;
}

@mixin heading-h3 {
  @include headings;
  font-size: 1.33rem;
}

@mixin heading-h4 {
  @include headings;
  font-size: 1rem;
}

@mixin heading-h5 {
  @include headings;
  font-size: .9rem;
}

h1 {
  @include heading-h1;
}

h2 {
  @include heading-h2;
}

h3 {
  @include heading-h3;
}

h5 {
  @include heading-h5;
}

h4 {
  @include heading-h4;
}

@mixin block-align-left {
  float: left;
  margin-right: 1em;
}

@mixin block-align-right {
  float: right;
  margin-left: 1em;
}

@mixin wp-block-image {

  padding: 0;
  margin: 0 0 .5em 0;

  div {
    padding: 0;
    margin: 0;
  }

  img {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.wp-block-image {
  display: contents;
  figure {
    @include wp-block-image;
  }
}

@mixin site-container {
  background-color: rgba(black, .1);
  width: 100%;
  margin: 0 auto;
}

@mixin site-inner {
  background-color: rgba(black, .1);
  max-width: 900px;
  margin: 0 auto;
}
@mixin content-area {
  background-color: rgba(black, .1);
  max-width: 800px;
  margin: 0 auto;
}

@mixin site-main {
  background-color: rgba(black, .1);
  max-width: 700px;
  margin: 0 auto;
}

// OVERALL PAGE LAYOUT STYLES
.site-container {
  @include site-container;
}

.site-inner {
  @include site-inner;
}

.content-area {
  @include content-area;
}

.site-main {
  @include site-main;
}
