@import "colors";
@import "fonts";
@import "structure";
@import "columns";
@import "transitions";

$body-bgcolor: rgba(black, .125);

$lineheight-copy: 1.6;
$lineheight-heading: 1.2;

$padding-default: 1em;

$padding-narrow: ($padding-default * .75);
$padding-narrower: ($padding-narrow * .75);
$padding-narrowest: ($padding-narrower * .75);

$padding-wide: ($padding-default * 1.25);
$padding-wider: ($padding-wide * 1.25);
$padding-widest: ($padding-wider * 1.25);
