// @import "partials/base";
@import "variables/variables";
@import "mixins/mixins";

// Mysterious measurements that we might want to defeat!
.editor-block-list__layout .editor-default-block-appender > .editor-default-block-appender__content,
.editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
.editor-block-list__layout > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
  // margin-top: 32px;
  // margin-bottom: 32px;
  margin-top: 0;
  margin-bottom: 0;
}


html.wp-toolbar {
	@include html-styles;

	// Replace with variable?
	padding-top: 32px;
}

body.block-editor-page.wp-admin {

	// @include body-styles;
	@include base-typography--body;

	// Main column width
	.editor-post-title__block,
	.editor-default-block-appender,
	.editor-block-list__block {
	    // max-width: ($content-width * 1);
		// margin: 0 auto;
	}

	// Width of "wide" blocks
	.editor-block-list__block[data-align="wide"] {
		// margin-left: calc(1 * (100vw / 12));
		// margin-right: calc(1 * (100vw / 12));
		// max-width: calc(10 * (100vw / 12));
	}

	// Width of "full-wide" blocks
	.editor-block-list__block[data-align="full"] {
	    // max-width: none;
	}

}

.wp-block {
  max-width: none;
}

.editor-block-list__block  {

	.wp-admin & {
		// @extend %base-style;
	}

	// @import "partials/style-guide";
	// @import "partials/blocks";
	// @import "partials/gutenberg";
}

// Overall page style
div.editor-styles-wrapper {
	@include base-typography--page;
}

// Base paragraph style
div.editor-styles-wrapper {

	p.wp-block-paragraph {
		@include base-typography--p;
	}

}




/*
.editor-post-title {
	border-top: 1px dashed green;
	background-color: rgba(green, .125);
}
.editor-block-list__layout {
	border-top: 1px dashed blue;
	background-color: rgba(blue, .125);
}

.wp-block {
	border-top: 1px dashed red;
	background-color: rgba(red, .125);
}
*/




.editor-block-list__layout .editor-block-list__block .editor-block-drop-zone {
	top: -4px;
	bottom: -3px;
	margin: 0;
  }

.editor-block-list__layout .editor-block-list__block.is-selected > .editor-block-list__block-edit::before {

}






// Heading blocks...
.wp-block-heading h1,
.wp-block-heading h1.editor-rich-text__tinymce,
.editor-post-title__block .editor-post-title__input {
	@include headings;
}


.wp-block-heading h2,
.wp-block-heading h2.editor-rich-text__tinymce {
	@include heading-h2;
}

.wp-block-heading h3,
.wp-block-heading h3.editor-rich-text__tinymce {
	@include heading-h3;
}

.wp-block-heading h4,
.wp-block-heading h4.editor-rich-text__tinymce {
  @include heading-h4;
}

.wp-block-heading h5,
.wp-block-heading h5.editor-rich-text__tinymce {
  @include heading-h5;
}




.wp-block-image {
	@include wp-block-image;
}

.editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit {
  @include block-align-left;
}

.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit {
  @include block-align-right;
}



.editor-writing-flow {
  // @include site-container;

  > div {
    // @include site-inner;

    > div {
      // @include content-area;

      > div {
        // @include site-main;

      }
    }
  }
}
