// Typography mixins.
@mixin typography-body {
  font-size: $font-size--md;
  font-family: $font-choice--base;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: $lineheight-default;
  color: rgba(black, .75);
}

@mixin typography-heading {
  font-family: $font-choice--heading;
  font-weight: bold;
  line-height: 1.2;
  padding: 0;
  margin: 0 0 .75em 0;
  color: mix(black, $color--primary, 25%);
}


// Padding mixins.
@mixin site-padding {
  padding-left: $site-padding;
  padding-right: $site-padding;
}

@mixin section-padding {
  padding-top: $site-padding;
  padding-bottom: $site-padding;
}


// Block mixins.
@mixin block--align-right {
  // width: 100%;
  float: none;
  margin-left: 0;
  margin-right: 0;

  img {
    // width: 100%;
    height: auto;
  }

  @include breakpoint($sm) {
    img {
      // width: auto;
      height: auto;
    }
  }

  @include breakpoint($md) {
    // width: auto;
    float: right;
    max-width: 50%;
    margin-left: 2em /*!rtl:end:ignore*/;
    margin-right: 0;

    img {
      // width: auto;
      height: auto;
    }
  }
}

@mixin block--align-left {
  // width: 100%;
  float: none;
  margin-left: 0;
  margin-right: 0;

  img {
    // width: 100%;
    height: auto;
  }

  @include breakpoint($sm) {
    img {
      // width: auto;
      height: auto;
    }
  }

  @include breakpoint($md) {
    // width: auto;
    float: left;
    max-width: 50%;
    margin-left: 0;
    margin-right: 2em /*!rtl:end:ignore*/;

    img {
      // width: auto;
      height: auto;
    }
  }
}

// Transitions
$transition: all 0.5s ease;
$transition-fast: all 0.125s linear;