// Typography mixins.
@mixin typography-body {
  font-size: $font-size--md;
  font-family: $font-choice--base;
  font-weight: 400;
  line-height: $lineheight-default;
  color: rgba(black, .9);
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

@mixin typography-heading {
  font-family: $font-choice--heading;
  font-weight: 600;
  line-height: 1.125;
  padding: 0;
  margin: 0 0 .75em 0;
  color: mix(black, $color--primary, 25%);
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
}

@mixin typography-menu {
  @include typography-heading;
  font-weight: 400;
}

// Padding mixins.
@mixin site-padding {
  padding-left: $site-padding;
  padding-right: $site-padding;
}

@mixin section-padding {
  padding-top: $site-padding;
  padding-bottom: $site-padding;
}

// Block mixins.
@mixin block--align-right {
  float: none;
  margin-left: 0;
  margin-right: 0;

  img {
    height: auto;
  }

  @include breakpoint($sm) {
    img {
      height: auto;
    }
  }

  @include breakpoint($md) {
    float: right;
    max-width: 50%;
    margin-left: 2em /*!rtl:end:ignore*/;
    margin-right: 0;

    img {
      height: auto;
    }
  }
}

@mixin block--align-left {
  float: none;
  margin-left: 0;
  margin-right: 0;

  img {
    height: auto;
  }

  @include breakpoint($sm) {
    img {
      height: auto;
    }
  }

  @include breakpoint($md) {
    float: left;
    max-width: 50%;
    margin-left: 0;
    margin-right: 2em /*!rtl:end:ignore*/;

    img {
      height: auto;
    }
  }
}

// img align mixins.
@mixin img--inline {
  float: none;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  max-width: 67%;
  display: block;
  margin-bottom: 1em;
}

@mixin img--align-right {
  @include img--inline;

  @include breakpoint($md) {
    float: right;
    max-width: 50%;
    margin-left: 2em /*!rtl:end:ignore*/;
    margin-right: 0;
    height: auto;
  }
}

@mixin img--align-left {
  @include img--inline;

  @include breakpoint($md) {
    float: left;
    max-width: 50%;
    margin-left: 0;
    margin-right: 2em /*!rtl:end:ignore*/;
    height: auto;
  }
}

// Transitions
$transition: all 0.5s ease;
$transition-fast: all 0.125s linear;

@mixin yes-beaver {
  #wp-toolbar #wp-admin-bar-edit,
  .fl-builder-admin-tabs .fl-enable-editor {
    display: none;
  }
  #wp-toolbar #wp-admin-bar-fl-builder-frontend-edit-link,
  .fl-builder-admin-tabs .fl-enable-builder {
    display: block;
  }
}

@mixin no-beaver {
  #wp-toolbar #wp-admin-bar-edit,
  .fl-builder-admin-tabs .fl-enable-editor {
    display: block;
  }
  #wp-toolbar #wp-admin-bar-fl-builder-frontend-edit-link,
  .fl-builder-admin-tabs .fl-enable-builder {
    display: none;
  }
}

@mixin horizontal-rule {
  background-color: transparent;
  border: 0;
  border-top: 1px solid $color--primary-lighter;
  height: auto;
}
