html {
  font-size: 16px;
}

body {
  font-size: 1em;
}

h1, h1.page__title {
  font-size: 2em;
  color: #006667;
  text-transform: lowercase;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.45em;
  color: #004d4d;
  line-height: 1.2;
  margin-bottom: .75em;
}

h3 {
  font-size: 1.17em;
  letter-spacing: 0.25em;
  color: #003334;
  line-height: 1.2;
  margin-bottom: .5em;
}

.fl-module-content {
  // margin: 0;
}

.fl-row-content-wrap {
  // padding: 0;
}

.fl-builder-content {

  .fl-module-cta {

    .fl-node-content {
      margin: 0;
    }

    a.fl-button {
      padding: 10px 20px;
    }

    .fl-module-content {
      background-color: transparent;
    }
  }
}
