@include breakpoint($sm-down) {

  .fl-col-group {
    display: block;
    margin-right: 0;
    margin-left: 0;

    .fl-col {
      margin-right: 0;
      margin-left: 0;
      max-width: 100%;

      .fl-photo,
      .fl-photo-align-center {
        text-align: left;

        .fl-photo-content img {
          width: 70%;

          @include breakpoint($xs-down) {
            width: 80%;
          }

          @include breakpoint($xxs-down) {
            width: 100%;
          }
        }
      }
    }
  }

}
