.fl-row.fl-row-fixed-width {
  max-width: 100%;
}

.fl-row-content.fl-row-fixed-width {
  // max-width: 100%;
}

.fl-module-content {
  // margin: 0;
}

.fl-row-content-wrap {
  // padding: 0;
}

.fl-builder-content {

  .fl-row {
    > .fl-row-content-wrap {
      padding: 0;

      .fl-module-content {
        margin: 0 0 20px;

        // override specific modules here.
        .fl-separator {
          border-top: 1px solid $color--primary-lighter;
        }
      }
    }
  }

  .fl-module-cta {

    .fl-node-content {
      margin: 0;
    }

    a.fl-button {
      padding: 10px 20px;
    }

    .fl-module-content {
      background-color: transparent;
    }
  }
}

.fl-col-group {
  display: flex;
  margin-right:-20px;

  .fl-col {
    margin-right: 20px;
  }
}

hr,
hr .wp-block-separator {
  @include horizontal-rule;
}
