.event {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &--image {
    margin-bottom: .75rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &--title h3 {
    margin: 0;
  }

  &--date h4 {
    margin: .6rem 0 0 0;
  }

  &--subtitle h4 {
    margin: .3rem 0 0 0;
  }

  @include breakpoint(600px) {
    flex-direction: row;

    &--image {
      flex: 1;
      margin-bottom: 0;
    }

    &--info {
      flex: 2;

      .inner {
        padding-left: 1rem;
      }
    }
  }

  .info-header {
    background-color: rgba($color--header, .5);
    padding: .5rem;
    margin-bottom: 1rem;
  }

  .info-body {
    margin-left: .5rem;
  }
}