body.home .section--content {
  width: 100%;
  max-width: 100%;

  .section-inner {
    padding: 0;
  }
}

.front-page-grid {
  max-width: $max-site-width;
  margin: $site-padding auto;
  padding: 0 $site-padding;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;

  @include breakpoint($md) {
    grid-template-columns: 1fr 1fr;

    .item.full-width {
      grid-column: auto / span 2;
    }
  }

  @include breakpoint($lg) {
    grid-template-columns: 1fr 1fr 1fr;

    .item.full-width {
      grid-column: auto / span 3;
    }
  }

  h3 {
    // font-size: 1.25em;
    text-transform: uppercase;
  }
}
