body.home .section--content {
  width: 100%;
  max-width: 100%;

  .section-inner {
    padding: 0;
  }
}

.front-page-grid {
  max-width: $max-site-width;
  margin: $site-padding auto;
  padding: 0 $site-padding;

  display: grid;
  grid-gap: 1em;
  // min-height: calc(100vh - (210px));
  grid-template-columns: 1fr;

  // font-size: 1.5em;

  @include breakpoint($sm) {
    // font-size: 1em;
  }

  @include breakpoint($md) {
    // font-size: 1em;
  }

  @include breakpoint($md) {
    grid-template-columns: 1fr 1fr;
    // height: calc(100vh - (210px));
  }

  @include breakpoint($lg) {
    grid-template-columns: 1fr 1fr 1fr;
    // height: calc(100vh - (210px));
  }

  h3 {
    // font-size: 1.25em;
    text-transform: uppercase;
  }
}

.home-page-feature {
  text-decoration: none;
  padding: 1.25em;

  background-color: rgba($color--black, .1);
  p {
    font-family: 'Merriweather', serif;
  }

  p.extra-content {
    display: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint($md) {
    p.extra-content {
      display: block;
    }
  }

  &:hover {
    background-color: $color--primary;
    * {
      color: $color--white;
    }
  }
}