$xs: 0;
$sm: 500px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;

$max-site-width: $xl;
$site-padding: 20px;

body {
  // background-color: rgba(#006667, .1);
  width: 100%;
}

.site-wrapper {
  // background-color: rgba(#006667, .1);
  max-width: $max-site-width;
  margin: 0 auto;
}

.site {
  // background-color: rgba(#006667, .1);
  padding: $site-padding;
  background-color: rgba(blue, .075);
}
