@mixin block--align-right {
  float: right;
  margin-left: 2em/*!rtl:end:ignore*/;
}

@mixin block--align-left {
  float: left;
  margin-right: 2em/*!rtl:end:ignore*/;
}

.wp-block-image .alignright,
.editor-block-list__layout .editor-block-list__block[data-align=right]>.editor-block-list__block-edit {
  @include block--align-right;
}
