@import "variables";
@import "mixins";

@import "meyer-reset";
// @import "normalize";

@import "base";
@import "typography";

@import "layout";

$color-wpblue: #0073aa;

$bgcolor-body: #f1f1f1;
$bgcolor-block--default: rgba(#FFF, .25);
$bgcolor-block--hover: rgba(#FFF, .5);
$bgcolor-block--selected: #FFF;

$border-block--default: 1px dotted rgba($color-wpblue, .1);
$border-block--hover: 1px dashed rgba($color-wpblue, .9);
$border-block--selected: 1px solid  rgba($color-wpblue, .5);

body {
  background-color: $bgcolor-body;
}

.edit-post-layout__content,
.wp-block {
  font-size: $fontsize-html;
}

.editor-styles-wrapper {
  font-size: $fontsize-body;
}

div.editor-styles-wrapper p,
div.editor-styles-wrapper p.mce-content-body {
  font-size: 1em !important;
  line-height: 1.5 !important;
}

.editor-post-title__block .editor-post-title__input {
  @extend h1;
  margin-left: 2px;
  width: calc(100% - 4px);
  margin-bottom: -2px;
  box-sizing: border-box;
  line-height: 1.2;
  padding: 14px;
  display: inline-block;
  margin-top: 20px;
  height: auto;
}

.edit-post-layout .edit-post-layout__content,
.editor-styles-wrapper,
.block-editor__container,
.editor-writing-flow {
  background-color: $bgcolor-body !important;
}

.editor-writing-flow {
  border-left: $border-block--hover;
  border-right: $border-block--hover;
  max-width: $max-site-width + $editor-padding-left + $editor-padding-right;
  margin-left: auto;
  margin-right: auto;
  padding-top: 47px;
}

.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit {
  margin: 0 !important;
}

.editor-block-list__block::before {
  left: 0 !important;
  right: 0 !important;
}

.editor-post-title__block:not(.is-focus-mode):not(.has-fixed-toolbar) .editor-post-title__input {
  background-color: $bgcolor-block--default;
  border: $border-block--default;
  &:hover {
    background-color: $bgcolor-block--hover;
    border: $border-block--hover;
  }
  &:focus {
    background-color: $bgcolor-block--selected;
    border: $border-block--selected;
  }
}

.editor-block-list__block .editor-block-list__block-edit::before {
  background-color: $bgcolor-block--default;
  outline: $border-block--default;
}

.editor-block-list__block.is-hovered > .editor-block-list__block-edit::before {
  background-color: $bgcolor-block--hover;
  outline: $border-block--hover;
}

.editor-block-list__block .editor-block-list__block-edit:hover::before {
  background-color: $bgcolor-block--selected;
  outline: $border-block--hover;
}

.editor-block-list__block.is-selected > .editor-block-list__block-edit::before,
.editor-block-list__block.is-focused.is-focus-mode .editor-block-list__block-edit::before {
  background-color: $bgcolor-block--selected;
  outline: $border-block--selected;
}

.wp-block {
  max-width: 100%;
}

.editor-block-list__layout,
.editor-post-title {
  padding-left: $editor-padding-left;
  padding-right: $editor-padding-right;
}

.editor-block-list__block>.editor-block-list__insertion-point {
  top: -24px;
}

.editor-block-list__insertion-point-inserter .editor-inserter__toggle {
  margin-top: -11px;
}

.editor-block-toolbar {
  overflow: hidden;
  border: $border-block--selected;
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: -1px;
  border-radius: 8px 8px 0 0;
}

.editor-post-permalink {
  background-color: $bgcolor-block--selected;
  background: $bgcolor-block--selected;
  border: $border-block--selected;
  padding: 25px 10px;
  * {
    background-color: transparent;
    background: none;
  }
}

// Why not?
div.components-notice {
  opacity: .9;
}