.editor-block-list__layout .editor-block-list__block {
  padding-left: 43px;
  padding-right: 43px;
}

.editor-block-list__layout .editor-block-list__block .editor-block-drop-zone {
  margin-left: 14px;
  margin-right: 14px;
}

.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit {
  margin-left: -28px;
  margin-right: -28px;
}

.editor-styles-wrapper .editor-block-list__layout, .editor-styles-wrapper .editor-post-title {
  padding-left: 33px;
  padding-right: 10px;
}

.editor-styles-wrapper .editor-writing-flow {
  // border-left: 1px dashed rgba(black, 0.25);
  // border-right: 1px dashed rgba(black, 0.25);

  max-width: 1273px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 47px;
}










// I can't seem to be able to override this!
div.editor-styles-wrapper p,
div.editor-styles-wrapper p.mce-content-body {
  font-size: 1em !important;
  line-height: 1.5 !important;
}


.components-notice.is-warning {
  background-color: rgba(#fef8ee, .85);

  &:hover {
    background-color: #fef8ee;
  }
}
