.media {
  display: flex;
  margin-bottom: 1.5em;
  &--image {
    flex: 1;
  }
  &--info {
    flex: 2;
    .inner {
      padding-left: 1em;
    }
  }

  &--title {
    font-weight: 700;
  }

  &--subtitle {
    font-weight: 300;

  }

  &--date {
    font-weight: 300;
  }

  &--body {

  }
}
