.event {
  display: flex;
  margin-bottom: 1.5em;

  &--image {
    flex: 1;
  }

  &--info {
    flex: 2;
    .inner {
      padding-left: 1em;
    }
  }

  &--title {
    h3 {
      margin: 0;
    }
  }

  &--subtitle {
  }

  &--date {
  }

  &--body {

  }
}

.info-header {
  background-color: rgba($color--header, .25);
  padding: .5em;
  margin-bottom: .75em;
}