
.event {
  display: flex;
  margin-bottom: 1.5em;
  &--image {
    flex: 1;
  }
  &--info {
    flex: 2;
    .inner {
      padding-left: 1em;
    }
  }

  &--title {

  }
  &--subtitle {
    font-weight: 700;

  }
  &--date {
    font-weight: 700;
  }
  &--body {

  }
}
