.event,
.media {
  display: flex;
  margin-bottom: 1.5em;

  &--image {
    flex: 1;
  }

  &--info {
    flex: 2;

    .inner {
      padding-left: 1em;
    }
  }

  &--title h3 {
    margin: .4em 0 0 0;
  }

  &--subtitle h4 {
    margin: 0;
  }

  &--date {
    margin-bottom: .7em;
  }
}

.info-header {
  background-color: rgba($color--header, .5);
  padding: .5em;
  margin-bottom: 1em;
}

.info-body {
 margin-left: .5em;
}