.front-page-header--wrapper {
  font-size: 1vw;

  @include breakpoint(80rem) {
    font-size: 13px;
    font-size: .825rem;
    display: flex;
    justify-content: center;
  }
}

.front-page-header {
  width: 100cqi;
  max-width: 80rem;
  container-name: front-page-header;
  container-type: inline-size;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include breakpoint($sm) {
    flex-direction: row;
    aspect-ratio: 3 / 1;
    justify-content: center;
  }

  .front-page-image {
    width: 100cqi;
    height: 70cqi;

    @include breakpoint($sm) {
      width: 67cqi;
      height: 50cqi;
    }
  }

  .front-page-cta {
    background-color: darken(#9fa1a4, 10%);
    width: 100cqi;
    height: 125cqi;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include breakpoint($sm) {
      width: 33cqi;
      height: 50cqi;
    }
  }
}

.front-page-image {
  overflow: hidden;
  position: relative;
  background-image: url("@assets/dean-portrait_028_v02.jpg");
  background-color: #2a231b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.front-page-text {
  position: absolute;
  left: 2.3cqi;
  bottom: 3cqi;
  z-index: 1000;
  font-size: 2cqi;

  @include breakpoint($sm) {
    font-size: 1.15cqi;
    bottom: 2.25cqi;
  }

  .inner {
    color: rgba(white, 0.9);
    text-shadow: 0.075em 0.075em 0.3em rgba(black, 0.5);

    h1.site-name {
      font-size: 4.35em;
      margin: 0 0 0.25em;
      line-height: 1.2;
      font-weight: 600;
    }

    p.home-page-intro-text {
      margin: 0;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      font-family: "raleway", "Montserrat", Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 1.65em;
    }
  }

  p {
    font-family: $font-choice--heading;
  }
}

a.new-book-link {
  font-size: 4.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-family: "raleway", "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  position: relative;

  @include breakpoint($sm) {
    font-size: 1.7em;
  }

  .new-book-link__text {
    text-shadow: 0 0 0.75em rgba(white, 0.75);
    line-height: 1;
    font-size: 2.5em;
    transition: text-shadow 0.25s linear;
  }

  &:before {
    content: "";
    background-image: url("@assets/dharma-bums-cover.jpg");
    background-color: #36bbc2;
    background-position: bottom;
    border: 1px solid rgba(black, 0.5);
    height: 21em;
    width: 13.7em;
    box-shadow: 0 0 2.5em rgba(white, 0.25);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2.5em auto 1em;
    transition: box-shadow 0.25s linear;
  }

  &:after {
    content: "";
    background-image: url("@assets/nautilus_award.png");
    width: 6.125em;
    height: 6.125em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 13.5em;
    right: -1.5em;
    filter: drop-shadow(0.25em 0.25em 0.175em rgba(black, 0.25));
  }

  &:hover {
    .new-book-link__text {
      text-shadow: 0 0 0.75em rgba(white, 1);
    }

    &:before {
      box-shadow: 0 0 2.5em rgba(white, 0.5);
    }
  }
}
