a.hc-nav-trigger {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: none;
  top: 0;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
  margin-left: auto;

  span {
    background-color: $color--primary;

    &:before {
      background-color: $color--primary;
    }

    &:after {
      background-color: $color--primary;
    }
  }
}

#primary-menu {

  .menu-item {
    margin-right: 0;
    transition: $transition;

    &:last-child {
      margin-right: 0;
    }

    @include breakpoint(940px) {
      margin-right: 10px;
    }

    @include breakpoint(1000px) {
      margin-right: 12px;
    }

    @include breakpoint(1200px) {
      margin-right: 15px;
    }
  }

  .sub-menu {
    background-color: white;

    .menu-item {
      background-color: white;
      margin-right: 0;

      a {
        padding: .5rem;
        margin: 0;
        display: block;
        border-bottom: 1px solid rgba($color--primary, .125);

        &:hover {
          background-color: rgba($color--primary, .75);
          color: white;
        }
      }
    }
  }
}

#primary-menu > .menu-item > a {
  display: block;
  padding: .25rem .5rem;
  border-radius: .3rem;
  font-size: .95rem;

  &:hover {
    background-color: rgba($color--primary, .75);
    color: white;
  }
}

#primary-menu > .menu-item-has-children > a {

  &:after {
    content: "\0025BE";
    padding-left: .4rem;
  }

  &:hover {
    border-radius: .3rem .3rem 0 0;
  }
}
