figure {
  margin: 0;
}

.wp-block-image {
  margin: 0;

  figure {
    margin-bottom: 1em;

    &.alignleft {
      @include block--align-left;
    }

    &.alignright {
      @include block--align-right;
    }

    figcaption {
      margin-bottom: 0;
    }
  }
}

.editor-block-list__layout .editor-block-list__block[data-align=right]>.editor-block-list__block-edit {
  @include block--align-right;
}
