body.home {
  background-image: url(../../images/dean-portrait_028_v01-3.jpg);
  background-color: #2a231b;
  background-repeat: no-repeat;


  background-size: 100vw;
  background-position: top -2vw center;

}

body.home .section-outer--header {
  background-color: rgba(white, .85);
}

.front-page-image {

  height: 42vw;

  img {
    display: none;
  }
}

.front-page-grid--wrapper {
  background-color: rgba(white, .75);
  padding: .5em 0;
}

.front-page-text .inner {
  display: none;
}