a.hc-nav-trigger {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: none;
  top: 0;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
  margin-left: auto;

  span {
    background-color: $color--primary;

    &:before {
      background-color: $color--primary;
    }

    &:after {
      background-color: $color--primary;
    }
  }
}

#primary-menu {

  .menu-item {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  .sub-menu {
    .menu-item {
      background-color: white;
      margin-right: 0;
    }
  }

}
