a.hc-nav-trigger {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: none;
  top: 0;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
  margin-left: auto;

  span {
    background-color: $color--primary;

    &:before {
      background-color: $color--primary;
    }

    &:after {
      background-color: $color--primary;
    }
  }
}

#primary-menu {

  .menu-item {
    margin-right: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .sub-menu {
    background-color: white;

    .menu-item {
      background-color: white;
      margin-right: 0;

      a {
        padding: .5em;
        margin: 0;
        display: block;
        border-bottom: 1px solid rgba($color--primary, .125);

        &:hover {
          background-color: rgba($color--primary, .75);
          color: white;
        }
      }
    }
  }
}

#primary-menu > .menu-item > a {
  display: block;
  padding: .25em .5em;
  border-radius: .3em;

  &:hover {
    background-color: rgba($color--primary, .75);
    color: white;
  }
}

#primary-menu > .menu-item-has-children > a {
  border-radius: .3em .3em 0 0;
}