body {
  position: relative;
}

.section-outer--header {
  background-color: rgba(white, .8);
  position: sticky;
  z-index: 1000;
  border-bottom: 1px solid rgba($color--primary, .125);
  top: 0;
}

.section-outer--content {
  position: relative;
  z-index: 500;
}