body {
  position: relative;
}

.section-outer--header {
  background-color: $color--header;
}

.section-outer--header {
  position: fixed;
  z-index: 1000;
}

.section-outer--content {
  position: relative;
  padding-top: 73px;
  z-index: 500;
}
