#primary-menu > li.menu-item.icon {
  a {
    text-indent: -9999px;
    background-color: rgba($color--primary, .75);
    mask: url(icon.svg) no-repeat 50% 50%;

    &:hover {
      background-color: $color--primary;
    }
  }

  &--facebook a {
    mask-image: url("../../images/icons/facebook-square.svg");
  }

  &--instagram a {
    mask-image: url("../../images/icons/instagram.svg");
  }

  &--youtube a {
    mask-image: url("../../images/icons/youtube-square.svg");
  }
}
