@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Montserrat:400,600,700|Raleway:800,900');

html {
  font-size: $font-size--html;
}

body.front-end {
  @include typography-body;
}

h1, h2, h3, h4, h5, h6, #primary-menu, .site-info {
  @include typography-heading;

  a {
    text-decoration: none;
  }
}

#primary-menu, .site-info {
  @include typography-menu;
}

// Heading font sizes.
h1 {
  font-size: $font-size--xxl;
  letter-spacing: .15em;
  margin-bottom: ($font-size--xxl * .5);
  text-transform: uppercase;

  &.entry-title {
    text-transform: lowercase;
    opacity: .625;
  }

  &.site-name {
    color: inherit;
    // color: mix(yellow, white, 20%);
    // color: complement($color--primary);
    // color: invert($color--primary);
    // color: mix(invert($color--primary), white, 30%);
    text-transform: capitalize;
    margin: 0;
    font-family: "raleway", "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 800;
    letter-spacing: .05em;
    font-size: 2.125em;
  }
}

h2 {
  font-size: $font-size--xl;
  letter-spacing: .1em;
  margin-bottom: ($font-size--xl * .5);
  text-transform: lowercase;
  opacity: .625;
}

h3 {
  font-size: $font-size--lg;
  letter-spacing: .05em;
  margin-bottom: ($font-size--lg * .5);
  text-transform: lowercase;
  opacity: .625;
}

h4 {
  font-size: $font-size--md;
  letter-spacing: .05em;
  margin-bottom: ($font-size--md * .5);
}

h5 {
  font-size: $font-size--sm;
  letter-spacing: .05em;
  margin-bottom: ($font-size--sm * .5);
}

h6 {
  font-size: $font-size--xxs;
  letter-spacing: .05em;
  margin-bottom: ($font-size--xxs * .5);
}

a,
a:visited {
  color: rgba($color--primary, .85);

  &:hover {
    color: $color--primary;
  }
}

.site-title {
  @extend h1;
  font-size: $font-size--xl;
  margin: 0;
  font-weight: 600;

  a {
    display: block;
    width: 1px;
    overflow: hidden;
    color: rgba(white, .01);
    text-decoration: none;
    white-space: nowrap;
  }

  @include breakpoint($sm) {
    font-size: $font-size--xxl;
  }
}

p {
  font-size: $font-size--md;
  margin-top: 0;
  margin-bottom: ($font-size--md * .75);
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: $font-size--sm;
  line-height: $lineheight-default;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: $font-size--sm;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: $font-size--xxl;
}

b,
strong,
.fl-rich-text strong {
  font-weight: 600 !important;
}
